/* Variables */
:root {
  --bc-main: rgb(250, 234, 221);
  --bc-modal: rgb(235, 231, 229);
  --border-radius: 15px;
  --padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--bc-main);
}

body {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  justify-items: stretch;
  padding: var(--padding);
}

header {
  justify-self: center;
  margin-bottom: 2rem;
}

button {
  padding: 1rem;
  height: max-content;
  width: max-content;
  border-radius: var(--border-radius);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

/* Use only for list placement */
.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 0.5fr 0.5fr;
  justify-items: start;
  gap: 1rem;
  list-style: none;
}

table {
  display: none;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;;
  padding: 1rem;
}

.list-header {
  border: 1px solid black;
}

.openBtn {
  justify-self: center;
  background-color: var(--bc-main);
  color: black;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 2rem;
  background-color: var(--bc-modal);
  padding: var(--padding);
}

.close {
  float: right;
  height: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

/* form content */
.form-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: var(--padding);
}

.read-radio {
  grid-row: span 2;
}

#submit {
  grid-column: span 2;
  place-self: center;
  padding: 1rem;
  height: max-content;
  width: max-content;
  border-radius: var(--border-radius);
}
