/* Variables */
:root{
  --bc-main: rgb(250, 234, 221);
  --bc-modal: rgb(235, 231, 229);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--bc-main);
}

body {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  justify-items: stretch;
}

header {
  justify-self: center;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

/* Use only for list placement */
.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 0.5fr;
  justify-items: start;
  gap: 1rem;
  list-style: none;
}

.list-header {
  border: 1px solid black;
}

.open-form {
  justify-self: center;
  margin-top: 2rem;
  background-color:var(--bc-main);
  border: none;
  color: black;
  cursor: pointer;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.close {
  float: right;
  height: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

/* form content */
.form-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--bc-modal);
}

.read-radio {
  grid-row: span 2;
}
